<html>

<head>
	<link rel="stylesheet" type="text/css" href="app/assets/stylesheets/feed.css.scss">
	<link href='http://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise' rel='stylesheet' type='text/css'>
	<title>4thapunx</title>
</head>

<body>
	<div class="content">
		<div class="row fill"></div>
		<div class="row">	
			<div class="large-centered columns">
				<p>
					Coming soon! A new way to stay updated about shows from your favorite local bands, just for the punks.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="large-centered columns">
				<p>Stay updated:</p> 
				<p><a href="https://twitter.com/nicolepank" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @nicolepank</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
				</script></p>
			</div>
		</div>
		<div class="row">
			<div class="large-centered columns">
				<div class="stupid"></div>
			</div>
		</div>
	</div>

	<div>
		<ul class="cb-slideshow">
		    <li>
		        <span>Image 01</span>
		        <div>
		            <!-- <h5>COMING SOON</h5> -->
		        </div>
		    </li>
		    <li>
		    	<span>Image 02</span>
		        <div>
		            <!-- <h5>COMING SOON</h5> -->
		        </div>
		    </li>
		    <li>
		    	<span>Image 03</span>
		        <div>
		            <!-- <h5>COMING SOON</h5> -->
		        </div>
		    </li>
		    <li>
		        <span>Image 04</span>
		        <div>
		            <!-- <h5>COMING SOON</h5> -->
		        </div>
		    </li>
		    <li>
		    	<span>Image 05</span>
		        <div>
		            <!-- <h5>COMING SOON</h5> -->
		        </div>
		    </li>
		    <li>
		    	<span>Image 06</span>
		        <div>
		            <!-- <h5>COMING SOON</h5> -->
		        </div>
		    </li>
		</ul>
	</div>
	
</body>
</html>